@media screen and (min-width: 350px) {
    .hero__headline {
        font-size: 26px;
        width: 360px;
    }
    .hero {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg.jpg");
        padding-bottom: 118px;
        padding-top: 118px;
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 350px),
screen and (min-resolution: 192dpi) and (min-width:320px),
screen and (min-resolution: 2dppx) and (min-width:320px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg@1x.jpg");
        width: 768px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .hero__headline {
        font-size: 44px;
        width: 696px;
    }
    .hero {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/big_bg.jpg");
        padding-bottom: 200px;
        padding-top: 200px;
        width: 1600px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200),
screen and (min-resolution: 192dpi) and (min-width:1200),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop@2x/bg@2x.jpg");
    }
}

.hero__headline {
    margin: 0 auto;
    color: var(--white-font);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.hero {
    background-color: var(--background-color-dark);
    background-repeat: no-repeat;
}